.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height:auto;
    background-color: rgb(255, 255, 255);
}
.leftSide{
width: 50%;
background-size: cover;
background-repeat: no-repeat;
margin: 0;
height: 100vh;
}
.rightSide{
width: 50%;
padding: 30px;
}